# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️ deps: "
    ignore:
      - dependency-name: k8s.io/*
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
      - dependency-name: sigs.k8s.io/*
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
      - dependency-name: github.com/container-storage-interface/spec
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
    groups:
      k8s:
        applies-to: version-updates
        patterns:
          - "k8s.io/*"
        update-types:
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️ ci: "
    labels: [ dependencies, skip-changelog ]