kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: bsu-sc
provisioner: bsu.csi.osc.com
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: test-pv
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: bsu-sc
  csi:
    driver: bsu.csi.osc.com
    volumeHandle: vol-12345678
    fsType: xfs
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: topology.bsu.csi.osc.com/zone
          operator: In
          values:
          - eu-west-2a
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bsu-claim
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: bsu-sc
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: app
spec:
  containers:
  - name: app
    image: centos
    command: ["/bin/sh"]
    args: ["-c", "while true; do echo $(date -u) >> /data/out.txt; sleep 5; done"]
    volumeMounts:
    - name: persistent-storage
      mountPath: /data
  volumes:
  - name: persistent-storage
    persistentVolumeClaim:
      claimName: bsu-claim
