name: Build

on:
  pull_request:
    branches:
      - OSC-MIGRATION
  push:
    branches: [ OSC-MIGRATION ]
jobs:
  Build:
    if: github.repository == 'outscale-dev/cloud-provider-osc'
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.17'
    - name: Docker Lint
      run: bash -c "make dockerlint"
    - name: Check
      run: bash -c "make verify"
    - name: Test
      run: bash -c "make test"
    - name: Image
      run: bash -c "make build-image"
    - name: Trivy-Scan
      run: bash -c "make trivy-scan"
