name: Publish Helm 

on:
  release:
    types: [published]
    
permissions:
  contents: read

jobs:
  push-helm-chart:
    if: ${{ contains(github.ref, 'helm') }}
    runs-on: ubuntu-22.04
    steps:
      - name: Check the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.18.3
      - name: Docker login
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER_HELM}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD_HELM}}
      - name : push to Artifact Hub
        run:
          make helm-push
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER_HELM}}
      
