name: Publish 

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  push-docker-image:
    if: ${{ !contains(github.ref, 'helm') }}
    runs-on: ubuntu-22.04
    steps:
      - name: Check the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Docker login
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      - name : Push to Docker Hub
        run: make build-image image-push
        env:
          IMAGE_TAG: ${{ github.ref_name }}
