name: Release

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:  

permissions:
  contents: write

jobs:
  release:
    if: ${{ !contains(github.ref, 'helm') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
        
      - name: Get changelog for release
        id: changelog
        uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656 # v2
        with:
          path: "CHANGELOG-1.X.md"
          version: ${{ github.ref_name }}

      # - uses: azure/setup-helm@v4
      #   with:
      #     version: v3.10.1
      # - name : Create Helm-package
      #   run: make helm-package

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: false
          body: ${{ steps.changelog.outputs.changes }}
          # files: out-helm/*